
  <style>
      :root {
        --ion-safe-area-top: 20px;
        --ion-safe-area-bottom: 22px;
      }
    </style>
<ion-header>
  <ion-toolbar>
    <ion-title>Ragnarok</ion-title>
    <img src="../../assets/icon/logo-ragnarok.png">

  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
          Notificações
        </ion-list-header>
        <div *ngFor="let notificacao of notificacoes">
            <ion-item *ngIf="notificacao.is_chat === true">
                <ion-avatar slot="start">
                  <img src="{{url}}/{{notificacao.info_chat.c_foto}}">
                </ion-avatar>
                <ion-label>
                  <h2 *ngIf="notificacao.info_chat.anuncio.info_rawg != null">{{notificacao.info_chat.anuncio.info_rawg.jogo.nome}}</h2>
                  <h2 *ngIf="notificacao.info_chat.anuncio.info_rawg == null">{{notificacao.info_chat.anuncio.titulo}}</h2>
                  <!-- <h3>{{notificacao.info_chat.usuario.nome}}</h3> -->
                  <p>{{notificacao.info}}</p>
                </ion-label>
              </ion-item>
        </div>
      </ion-list>
</ion-content>
