ion-content{
    ion-list{
        background: none;
        ion-list-header{
            background: #333;
            color:#f39c12;
        }

        ion-item{
            --background: #333;


            ion-label{
                h2{
                    color:#f39c12;
                    
                }
                p{
                    // height: 5vh;
                    // min-height: auto;
                    // text-overflow: unset;
                    white-space: normal;
                }
            }
        }
    }
}