<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<ion-header>
    <ion-toolbar>
      <ion-title>
        Informações 
    </ion-title>
      <ion-button (click)="closeModal()" slot="start">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
  <div class="imagem_jogo" >
      <div class="circulo_jogo">
        <div class="circulo">
          <div *ngIf="!anuncios.info_rawg.jogo.imagem_fundo_adicional">
              <img src="{{anuncios.info_rawg.jogo.imagem_fundo}}">
          </div>
          <div  *ngIf="anuncios.info_rawg.jogo.imagem_fundo_adicional">
              <img src="{{anuncios.info_rawg.jogo.imagem_fundo_adicional}}">
          </div>


        </div>
      </div>
  </div>
  <div class="titulo_jogo">
      <div class="caixa_titulo_jogo"> 
        <h1>
            {{anuncios.titulo}}
        </h1>
      </div>
  </div>
  <div class="espaco">

  </div>
  <div class="descricao_jogo">
      <div class="caixa_descricao_jogo">
        <p >
            {{anuncios.descricao}}
            An Action Sheet is a dialog that displays a set of options. It appears on top of the app's content, and must be manually dismissed by the user before they can resume interaction with the app. Destructive options are made obvious in ios mode. There are multiple ways to dismiss the action sheet, including tapping the backdrop or hitting the escape key on desktop.
        </p>
      </div>
  </div>
  <div class="produtoras"> 
    <div class="caixa_produtoras">
        <ion-grid>
            <ion-row >
                <ion-col>
                      <div style="padding-top: 10%;" class="teste">
                          {{anuncios.console.nome}}
                      </div>
                </ion-col>
                <ion-col>
                      <div style="padding-top: 10%;" class="teste">
                          {{anuncios.genero.nome}}
                      </div>
                </ion-col>
                <ion-col>
                  <div class="teste">
                      {{anuncios.info_rawg.jogo.dt_lancamento}}
                  </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
  </div>
  <div class="titulo_jogo">
      <div class="caixa_titulo_jogo"> 
        <h1>
            Produtoras
        </h1>
      </div>
  </div>
</ion-content>








<!-- <ion-label>
  Dono:
</ion-label>
<ion-item>
 <ion-label>
 {{anuncios.usuario.nome}}
 </ion-label>
</ion-item> -->
<!-- ********************** -->
<!-- <ion-label>
  Data de criação:
</ion-label>
<ion-item>
<ion-label>
    {{anuncios.criado_em}}
</ion-label>
</ion-item> -->
<!-- ************************** -->
<!-- <ion-label>
    Titulo:
</ion-label>
<ion-item>
  <ion-label>
{{anuncios.titulo}}
 </ion-label>
</ion-item> -->
<!-- ******************* -->
<!-- <ion-label>
  Descrição:
</ion-label>
<ion-item>
  <ion-label>
  {{anuncios.descricao}}
</ion-label>
</ion-item> -->
<!-- ********************** -->
<!-- <ion-label>
  Console:
</ion-label>
<ion-item>
  <ion-label>
  {{anuncios.console.nome}}
</ion-label>
</ion-item> -->
<!-- *********************** -->
<!-- <ion-label>
  genero:
</ion-label>
<ion-item>
  <ion-label>
  {{anuncios.genero.nome}}
</ion-label> -->
<!-- </ion-item> -->
<!-- *********************** -->
<!-- <ion-label>
    Data de Lançamento do jogo:
</ion-label>
<ion-item *ngIf="verificarCampo(anuncios.info_rawg, 'dt_lancamento')">
  <ion-label>
      {{anuncios.info_rawg.jogo.dt_lancamento}}
  </ion-label>
</ion-item> -->
<!-- ********************** -->
<!-- <ion-label *ngIf="verificarCampo(anuncios.info_rawg, 'nota_geral')">
  Nota geral::
</ion-label>
<ion-item *ngIf="verificarCampo(anuncios.info_rawg, 'nota_geral')">
  <ion-label>
      {{anuncios.info_rawg.jogo.nota_geral}}
  </ion-label>  
</ion-item> -->
<!-- ********************* -->
<!-- <ion-label *ngIf="verificarCampo(anuncios.info_rawg, 'nota_metacritic')">
  Nota metacritic:
</ion-label>
<ion-item *ngIf="verificarCampo(anuncios.info_rawg, 'nota_metacritic')">
  <ion-label>
  {{anuncios.info_rawg.jogo.nota_metacritic}}
</ion-label>  
</ion-item>
<ion-label> -->
  <!-- Desenvolvedores e produtoras:
</ion-label>
<div *ngIf="verificarCampo(anuncios.info_rawg, 'nome')">
  <ion-item *ngFor="let item of anuncios.info_rawg.jogo.desenvolvedoras">
      <ion-label>
      {{item}}
    </ion-label>  
</ion-item>
</div>   -->
