*{
   
   ion-grid{
    padding: 0;
    margin: 0;
    ion-row{
        padding: 0;
        margin: 0;

        ion-col{
            padding: 0;
            margin: 0;
        }
    }
   }

}

ion-header{
    ion-toolbar{
        ion-searchbar{
            // color: #f39c12;
            // --background:#333;
            --cancel-button-color:#f39c12;
            --clear-button-color:#f39c12;
            text-align: center;
            
        }
    }
}


ion-content{
    $refresher-text-color:#f39c12;
    ion-refresher{
        // --background: none;
       --background:#222;
       background-color: #222;
       color:#f39c12;
       --color:#f39c12;

        ion-refresher-content{
            // --background: none;
            --background:#222;
            background-color: #222;
        }

    }
    .categorias{
        // min-width: 150vw;
        // max-width: auto;
        width: 95vw;
        // height: 70px;
        margin: auto;

        overflow: auto;
        overflow-y: hidden;
        
        white-space: nowrap;
        
        ion-chip{
            --background:#f39c12;
            --color: #222;
            margin-top: 3vh;
            display: inline-block;
            
        }

    }

    .categorias::-webkit-scrollbar{
        background: transparent;
        margin: 0;
        padding: 0px;
    }

    .jogos{
        width: 100vw;
        height: 100vh;


        .caixa_jogo{
            width:33.3vw;
            height: 60px;
            margin: 0;
            // background-color: #1246f3;
            // float: left;

            img{
                width: 33vw;
                height: 65px;
                // border: solid 0.2vw white;
            }
        }
    }
}
