<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<ion-header>
  <ion-toolbar>
    <ion-title>Ragnarok</ion-title>
    <img src="../../assets/icon/logo-ragnarok.png">

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="caixa_conteudo1">
    <div class="titulo_usuario">
      <div class="caixa_titulo_usuario">
          <ion-item >
              <ion-label>
               {{nome}}
              </ion-label>
              <!-- <ion-icon name="create"></ion-icon> -->
          </ion-item>
      </div>
    </div>
    <div class="img_usuario">
      <div class="caixa_usuario">
          <img src="../../assets/boss.png" >
      </div>
    </div>
    <div class="meus_anuncios">
      <div class="caixa_titulo_usuario">
          <ion-item>
              <ion-label>
                Meus anuncios
              </ion-label>
            </ion-item>
      </div>
    </div>
  </div>
  <div class="caixa_conteudo2">
    <div class="anuncios">
        <ion-list >
          <!-- <div *ngFor="let anuncio of teste"> -->
              <ion-item *ngFor="let anuncio of anuncios" >
                  <!-- <ion-avatar *ngIf="anuncio.info_rawg" slot="start">
                    <img src="{{anuncio.info_rawg.jogo.imagem_fundo}}">
                  </ion-avatar>
                  <ion-avatar *ngFor="let fotos of anuncio.c_fotos" slot="start">
                      <img src="{{url}}/{{fotos.length}}">
                    </ion-avatar> -->
                  <ion-label>
                    <h2 *ngIf="anuncio.info_rawg">
                      {{anuncio.info_rawg.jogo.nome}}

                    </h2>
                    <h3>{{anuncio.titulo}}</h3>
                    <p>{{anuncio.descricao}}</p>
                  </ion-label>
                </ion-item>
          <!-- </div> -->
        </ion-list>
    </div>
  </div>
</ion-content>
