*{
    color:#f39c12;
    --color:#f39c12;

    ion-item{
        --background:none;
    }
}

ion-content{
    .caixa_conteudo1{
        width: 100vw;
        height: 41vh;
        // background-color:red;

        .titulo_usuario{
            width: 100%;
            height: 17.5%;
            // background-color:#333;


            .caixa_titulo_usuario{
                width: 50%;
                height: 100%;
                // background-color: blue;
                margin-left: auto;
                margin-right: auto;
                // float: left;
                text-align: center;

                ion-item{
                    width: 100%;
                    height: 100%;
                    // --background:#333;

                    ion-label{
                        text-align: center;
                    }
                }
            }

        }

        .img_usuario{
            width: 100%;
            height: 65%;

            


            .caixa_usuario{
                width: 40%;
                height: 85%;
                // background-color: aqua;
                margin-right: auto;
                margin-left: auto;

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    margin-left: auto;
                    margin-right: auto;
                    background-color:#333;
                }
            }
        }

        .meus_anuncios{
            width: 100%;
            height: 17.5%;
            // background-color:white;
            background-color: #333;

            .caixa_titulo_usuario{
                width: 50%;
                height: 100%;
               
                margin-left: auto;
                margin-right: auto;
                // float: left;

                ion-item{
                    width: 100%;
                    height: 100%;

                    ion-label{
                        text-align: center;
                    }
                }
            }

        }
    }

    .caixa_conteudo2{
        width: 100vw;
        height: 41vh;
        // background-color: aqua;

        .anuncios{
            ion-list{
                background: none;
                ion-item{
                    --background: none;
                    border-bottom: solid 1px #f39c12;
                    --height: 10%;
                    ion-label{
                        --background: none;
                        --height: 10%; 
                    }
                }
            }
        }
    }
}