<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<ion-header>
  <ion-toolbar>
    <ion-title>Ragnarok</ion-title>
    <img src="../../assets/icon/logo-ragnarok.png">>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="caixa_conteudo1">
    <div class="titulo_usuario">
      <div class="caixa_titulo_usuario">
          <ion-item >
              <ion-label>
                <!-- {{nome}} -->
              </ion-label>
              <ion-icon name="create"></ion-icon>
            </ion-item>
      </div>
    </div>
    <div class="img_usuario">
      <div class="caixa_usuario">
          <img src="../../assets/boss.png" >
      </div>
    </div>
    <div class="meus_anuncios">
      <div class="caixa_titulo_usuario">
          <ion-item>
              <ion-label>
                Meus anuncios
              </ion-label>
            </ion-item>
      </div>
    </div>
  </div>
  <div class="caixa_conteudo2">
    <!-- <div class="anuncios">
        <ion-list >
            <ion-item >
              <ion-avatar slot="start">
                <img src="{{usuario.anuncios[0].imagem_fundo}}">
              </ion-avatar>
              <ion-label>
                <h2>Poe</h2>
                <h3>New Ride</h3>
                <p>I just upgraded my X-Wing. Next time...</p>
              </ion-label>
            </ion-item>
        </ion-list>
    </div> -->
  </div>
</ion-content>
