hr{
    border-color: #EEEEEE
}

.verde, .vermelho, .alerta, .comando{
    padding: 5px;
    background-color: #33cc33;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 2px;
    letter-spacing: 1.3px
}

.vermelho{
    background-color: red
}

.alerta{
    background-color: yellow;
    color: black;
}

.desc{
    margin-left: 5px;
}

.cx_status{
    margin: 10px
}

#cx_foto {
   width: 200px;
   height: 100px;
   margin-top: 30px;
}

#cx_nrs{
   line-height: 30px;
   margin-bottom: 40px;
}

#nrs{
   margin: 5px
}

.comando{
   font-size: 15px;
   color:black;
   letter-spacing: 0.3px;
   margin-left: 3px;
   margin-right: 3px;
}