ion-toolbar{
    --background:#333;

    img{
        width: 10%;
        height: 10%;
        float: left;
        margin-left: -5%;
    }
}

ion-content{
    --background:#222;
}

ion-title{
    color: #f39c12;
    float: left;
}

*{
    font-family: stoke;
}