<ion-header>
  <ion-toolbar>
    <ion-title>    <ion-icon routerLink="/tabs/home"  name="arrow-back"></ion-icon>Conversas</ion-title>
 
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher  slot="fixed"  pullFactor="2" pullMin="50" pullMax="50" style="background-color:none; height: 10vh;" (ionRefresh)="recarregar()">
        <ion-refresher-content
        style="background-color:none;height: 10vh;"
        pullingIcon="null"
        refreshingSpinner="lines-small"
        ></ion-refresher-content>
      </ion-refresher>  
  <ion-searchbar placeholder="Pesquisar" mode="ios" ></ion-searchbar>
  
  <ion-item *ngFor="let item of chats" class="a" (click)="showModalChat(item.id_chat)" >
    <ion-avatar slot="start">
      <img src="{{url}}/{{item.c_foto}}" >
    </ion-avatar>
    <ion-label>
      <h2>{{item.usuario.nome}}</h2>
      <div *ngIf="item.ultima_mensagem">
        <p style="color: #737373;" *ngIf="item.ultima_mensagem.is_para_usuario">{{item.usuario.nome}}: {{item.ultima_mensagem.mensagem}}</p>
        <p style="color: #737373;" *ngIf="!item.ultima_mensagem.is_para_usuario">Você: {{item.ultima_mensagem.mensagem}}</p>
      </div>
    </ion-label>
    <ion-badge *ngIf="item.nao_lidas != 0" style="--background:#f39c12; --color:#333" name="notifications">{{item.nao_lidas}}</ion-badge>
  </ion-item>
</ion-content>
