
*{
    font-family: stoke;
}

$height100: 100%;

ion-grid {
    width:100%;
    height: $height100;
    // background: #dfdfdf;
}

ion-row {
    height: $height100;
}

ion-content{

    ion-range{
        --bar-background:#222;
        --color:#f39c12;
        --knob-background:#f39c12;
        border-bottom:solid 1px #f39c12;
        height: 10%;



    }

    ion-slides{
        width: 100%;
        height: 100%;
      
        // border: solid 1% #f39c12;
        ion-slide{

            width: 100%;
            height: 82%;

            ion-card{
                // margin-top: -10%;
                width: 95%;
                height: 100%;
                // border: solid 3px #f39c12;
             
                ion-slides{
                    width: 100%;
                    height: 50%;
    
                    ion-slide{
                        width: inherit;
                        height: inherit;
    
                        ion-img{
                            width: inherit;
                            height: inherit;
                            
                        }

                        video{
                            width: inherit;
                            height: inherit;
                        }
                    }
                }
    
                ion-card-header{
                    ion-card-title{
                        --color: #f39c12;
                    }

                    ion-card-subtitle{
                        // height: 10%;
                    }

                    .inf{
                        // --float: left;
                        --border-color:none;
                        --box-shadow: none;
                        --border-style:none;
                        --position: absolute;
                        --height: 10%;
                        --width: 10%;
                        --background: none;

                    }

                    .caixa_botao{
                        width: 90%;
                        height: inherit;
                        // background-color: #989aa2;
                   
                        
                        
                        margin-left: auto;
                        --border-color: #f39c12;
                        margin-right: auto;
                        margin-top: -8%;
                        // border-radius: 50%;
        
                        ion-button{
                            --background:#333;
                            width: 70px;
                            height:70px;
                            border: solid 1px #f39c12;
                            border-radius: 50%;
                            // --border: none;
                            // --border: solid 2px #f39c12;
                            // --background: radial-gradient(circle closest-side,#333 0%,#333 98%,rgba(0,0,0,0) 100%);
                            // margin-top: 20%;
                            margin-left: 5%;
                            // margin-right: 5%;
                            --box-shadow:3px 3px 3px rgba(0,0,0,.14)
                    
                            //  , 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
                        }
                    }
                }

                ion-card-content{
                    p{
                        color: white;
                    }
                }
    
            }


        }

    }



    ion-icon{
        color:#f39c12;
    }
}
