<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<ion-header>
    <ion-toolbar>
      <ion-title>
        Ragnarok
        <!-- <ion-icon name="logo-chrome"></ion-icon> -->
      </ion-title>
      <img src="../../assets/icon/logo-ragnarok.png">

  

    </ion-toolbar>
  </ion-header>
<ion-content>
    <!-- <ion-item> -->
      <ion-range (ionChange)="filtrar_km()" min="0" max="100" step="10" snaps pin color="secondary">
        <ion-icon slot="start" size="small" name="pin"></ion-icon>
        <ion-icon slot="end" name="pin"></ion-icon>
      </ion-range>
    <!-- </ion-item> -->
  <!-- IonSlides Pai -->
  <!-- <ion-grid justify-content-center> -->
    <!-- <ion-col  align-self-center size-md="6" size-lg="5" size-xs="12"> -->
      <ion-slides  [options]="slideOpts">
        <!-- Ion Slide -->
                  <ion-slide *ngFor=" let anuncio of anuncios">
                      <!-- IonCard Neto -->
                        <ion-card >
                            <ion-card-header style="background-color: #333; height: 10vh; max-height: 10vh; min-height: 10vh;">
                            <ion-card-subtitle style="float: left;">{{anuncio.distancia}}</ion-card-subtitle>
                          
                              <div style="float: left;  margin-left: 42vh; margin-top: -5vh;">
                                  <ion-button  class="inf" (click)='showModal( anuncio.id_anuncio )' >
                                      <ion-icon class="inf" name="information-circle"></ion-icon>
                                  </ion-button>
                              </div>

                            </ion-card-header>
                          <!-- IonSlides Bisneto -->
                          <ion-slides pager="true">
                            <!-- Ionslide tataraneto -->
                                <ion-slide *ngIf="verificarCampo(anuncio.info_rawg, 'imagem_fundo')">
                                    <ion-img  src="{{anuncio.info_rawg.jogo.imagem_fundo}}"> </ion-img>
                                </ion-slide>
                                <ion-slide *ngIf="verificarCampo(anuncio.info_rawg, 'imagem_fundo_adicional')">
                                    <ion-img src="{{anuncio.info_rawg.jogo.imagem_fundo_adicional}}"> </ion-img>
                                </ion-slide>
                                <ion-slide *ngIf="verificarCampo(anuncio.info_rawg, 'video')">
                                    <video controls poster="{{anuncio.info_rawg.jogo.preview_video}}">
                                      <source  src="{{anuncio.info_rawg.jogo.video}}"  type="video/mp4">
                                        <!-- <source src="anuncio.info_rawg.jogo.imagem_fundo_adicional" type="video/jpg"> -->
                                    </video>
                                </ion-slide>
                            <ion-slide *ngFor="let foto of anuncio.c_fotos">
                                <ion-img src="{{url}}/{{foto}}"> </ion-img>
                            </ion-slide>
                          </ion-slides>
                            <ion-card-header >
                                <ion-card-title *ngIf="verificarCampo(anuncio.info_rawg, 'nome')">
                                    {{anuncio.info_rawg.jogo.nome}} 
                                </ion-card-title>
                                <ion-card-title *ngIf="!verificarCampo(anuncio.info_rawg, 'nome')">
                                  {{anuncio.titulo}}                               
                                </ion-card-title>
                              <div >
                                <ion-card-subtitle  *ngIf="verificarCampo(anuncio.info_rawg, 'nome')">
                                  Nota Geral: {{anuncio.info_rawg.jogo.nota_geral}}
                              </ion-card-subtitle>
                              </div>
                                <div class="caixa_botao"> 
                                    <ion-button shape='round' size="large"> <ion-icon ios="ios-cash" md="md-cash"></ion-icon></ion-button>
                                    <ion-button shape='round' size="large"><ion-icon ios="ios-swap" md="md-swap"></ion-icon></ion-button>
                                    <ion-button shape='round' size="large" (click)="slides.slideNext()"> <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon></ion-button>
                                </div>
                            </ion-card-header>            
                          </ion-card>
                    </ion-slide>
              </ion-slides>
    <!-- </ion-col> -->
  <!-- </ion-grid> -->

</ion-content>
