
*{
    font-family: stoke;
}

$height100: 100%;
#direct{
    --background:none;	
    --border-color:none;	
    --border-radius:none;	
    --border-style:	none;	
    --border-width:none;	
    --box-shadow:none;	
    --color-activated:none;
    --color-focused:none;
    --color-hover:none;
    --ripple-color:none;
    --transition:none;
    
}

ion-content{

    ion-range{
        --bar-background:#222;
        --color:#f39c12;
        --knob-background:#f39c12;
        border-bottom:solid 1px #f39c12;
        height: 10vh;



    }

    ion-slides{
        width: 100vw;
        height: 65vh;
      
        // border: solid 1% #f39c12;
        ion-slide{

            width: 100vw;
            height: 65vh;

            ion-card{
                // margin-top: -15vh;
                width: 98vw;
                height: 65vh;
                background-color: #333; 
                // border: solid 3px #f39c12;
             
                ion-slides{
                    width: 100%;
                    height: 50%;
    
                    ion-slide{
                        width: inherit;
                        height: inherit;
    
                        ion-img{
                            width: inherit;
                            height: inherit;
                            
                        }

                        video{
                            width: inherit;
                            height: inherit;
                        }
                    }
                }
    
                ion-card-header{
                    background-color: #333; 
                    --height: 35vh; 
                    // max-height: 35vh; 
                    // min-height: 35vh;
                    ion-card-title{
                        --color: #f39c12;
                    }

                    ion-card-subtitle{
                        // height: 10%;
                    }

                    .inf{
                        // --float: left;
                        --border-color:none;
                        --box-shadow: none;
                        --border-style:none;
                        --position: absolute;
                        --height: 10vh;
                        --width: 10vw;
                        --background: none;

                    }

                    .caixa_botao{
                        width: 80%;
                        height: inherit;
                        // background-color: #989aa2;     
                        margin-left: 10%;
                        --border-color: #f39c12;
                        margin-right: 10%;
                        // margin-top: -15.5vh;
                        // border-radius: 50%;
        
                        ion-button{
                            --background:#333;
                            width: 60px;
                            height:60px;
                            border: solid 1px #f39c12;
                            border-radius: 50vh;
                            // --border: none;
                            // --border: solid 2px #f39c12;
                            // --background: radial-gradient(circle closest-side,#333 0%,#333 98%,rgba(0,0,0,0) 100%);
                            // margin-top: 20%;
                            
                            margin-right: 2%;
                            // --box-shadow:3px 3px 3px rgba(0,0,0,.14)
                    
                            //  , 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
                        }
                    }
                }

                ion-card-content{
                    p{
                        color: white;
                    }
                }
    
            }


        }

    }



    ion-icon{
        color:#f39c12;
    }
}
