<ion-header>
  <ion-toolbar>
    <ion-title>Ragnarok</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
        <ion-card-title>
            Jogos
        </ion-card-title>
        <ion-button href="/tabs/cadastro-jogo" >
            <ion-icon name="logo-game-controller-b"></ion-icon>
        </ion-button>
        </ion-card>
        
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
           <ion-card>
              <ion-card-title>
                  Acessorios 
              </ion-card-title>
          </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <ion-card>
              <ion-card-title>
                  Consoles
              </ion-card-title>
          </ion-card>    
        </ion-col>
      </ion-row>
  </ion-grid>     
</ion-content>
