        ion-header{
            ion-toolbar{
                ion-grid{
                    margin-left: auto;
                    margin-right: auto;
                }

                ion-col{
                    #botao_direito{
                        margin-left: 20%;
                    }
                    ion-title{
                        
                    }

                    ion-button{
                        --background:none;
                        --border-color:none;
                        --border-radius:none;
                        --border-style:none;
                        --background: none;
                        --box-shadow: none;
                        --color-focused:none;
                        
                    }

                }
            }
        }

        ion-slides{
            height: 100%;
            width: 100%;
    
            .slide_busca{
                height:551.2px;
                width:100%;
                overflow:auto;
    
                .slide_cadastro{
                    width: 100%;
                    height: 95%;
                    margin-top: -5%;
                    overflow:auto;
        
        
                    .label{
                        color: #f39c12;
                        // border-bottom: solid 1px #f39c12;
                    }
        
                    ion-item{
                        --background:#222;
                        margin-bottom: 10%;
                        border-bottom: solid 1px #f39c12;
                        // --border-radius: 10px;
        
        
        
                        .label_produtos{
                            color:#a2a4ab;
                        }
        
                        ion-select{
                            color: #f39c12;
                            ion-select-option{
        
                            }
        
                        }
        
                        .teste{
                            --background:#f39c12;
                            --color:#f39c12;
                        }
        
                        ion-card-title{
                            --color:#f39c12;
                        }
        
                        ion-radio{
                            --color-checked:#f39c12;
                        }
        
        
                    }
        
        
        
                    
                }
            }
            
            .slide_cadastro{
                width: 100%;
                height: 95%;
                margin-top: 10%;
    
    
                .label{
                    color: #f39c12;
                    // border-bottom: solid 1px #f39c12;
                }
    
                ion-item{
                    --background:#222;
                    margin-bottom: 10%;
                    border-bottom: solid 1px #f39c12;
                    // --border-radius: 10px;
    
                    ion-input{
                        --background: #222;
                        --color:white;
                        --placeholder-color:white;
                        text-align: center;
    
                    }
    
                    ion-textarea{
                        --background: #222;
                        --color:white;
                        --placeholder-color:white;
                         text-align: center;
                    }
    
                    .label_produtos{
                        color:#a2a4ab;
                    }
    
                    ion-select{
                        color: #f39c12;
                        ion-select-option{
    
                        }
    
                    }
    
                    .teste{
                        --background:#f39c12;
                        --color:#f39c12;
                    }
    
                    ion-card-title{
                        --color:#f39c12;
                    }
    
                    ion-radio{
                        --color-checked:#f39c12;
                    }
    
    
                }
    
    
    
                
            }
        }


        // .md{
        //     ion-header{
        //         height: 5%;
        //         width: 100%;
        //         }
        //         .next{
        //             margin-top:-0.5%;
        //             --background: #f39c12;
        //             margin-left: 85%;
        //             // margin-left: 80%;
        //         }
            
        //         .prev{
        //             margin-top:-9.5%;
        //             // margin-left: -90%;
        //             --background: #f39c12;
        //             margin-left: 0%;
        //             position: absolute;
        //         }
        // }


    