*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: antiga;
    src: url(../Utils/fontes/GoboldBlockyItalic.otf);
}
@font-face {
    font-family: montserrat;
    src: url(../Utils/fontes/montserrat/Montserrat/Montserrat-SemiBold.ttf);
}



.menu-cover{	    
    width: 100%;	
    height: 90px;	
    background-color: aqua;	
}

/* Inicio Classes padronização */
.sem-borda{
    border: none;
}

.borda-20px{
    border-radius: 20px;
}

#container{
    width: 90%;
    height: auto;
    min-height: 100%;
    overflow: hidden;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}   

.texto-laranja{
    color: #f39c12;
}

.background-333333{
    background-color: #333333;
}

.background-222222{
    background-color: #222222;
}

.cor-erro{
    color: #d44950;
}
/* Fim das classes de padronização */


body{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(42,40,37,1) 50%, rgba(0,0,0,1) 100%);
}

/* Início padronização Select */
.caixa-select{
    margin-bottom: 50px;
}

.selects{
    background-color: #222222;
    color: #f39c12;
    border: #f39c12;
}

.selects option{
    border-color: #f39c12;
}
/* Fim padronização Select */


/* Inicio Corpo */
#container-anuncios{
    width: inherit;
    height: auto;
    min-height: 500px;
    overflow: hidden;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

#feed{
    width: 65%;
    height: auto;
    min-height: inherit;
    overflow: hidden; 
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    background-color: #333333;
    padding: 30px;
}

.feed-titulo{
    width: 100%;
    color: #f39c12;
    margin-bottom: 30px;
    font-family: antiga;
    font-size: 50px;
}

#mais-populares-titulo{
    width: 100%;
    color: white;
    margin: 30px;
}

.card-body{
    background-image: url('../assets/photo-1569470451072-68314f596aec.jfif');
    background-repeat: no-repeat;
    background-size: cover;
}

.card-anuncio{
    background-color: #222222; 
    color: white; 
    margin-bottom: 50px;
}

.card-anuncio-jogo{
    background-color: #222222; 
    color: white; 
    margin-bottom: 50px;
}

.icone-usuario{
    width: 70px; 
    height: 70px;
}

.nome-usuario{
    font-size: 30px;
    margin-left: 5%;
}

.genero-anuncio{
    padding: 10px; 
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    background-color: #f39c12; 
    color:black
}

.btn-mod{
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.btn1,.btn2{
  color: #3498db;
}
.btn3,.btn4{
  color: #fff;
}
.btn1:hover,.btn2:hover{
  color: #fff;
}
.btn3:hover,.btn4:hover{
  color: #3498db;
}
.btn-mod::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before,.btn3::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before,.btn4::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn3::before,.btn4::before{
  height: 180%;
}
.btn1:hover::before,.btn2:hover::before{
  height: 180%;
}
.btn3:hover::before,.btn4:hover::before{
  height: 0%;
}

.link{
    text-decoration: none !important;
    /* color: currentColor; */
}


.btn-leia-mais{
    color: #f39c12;
    background-color: #333333;
    border: 1px solid #f39c12;
}

.btn-iniciar-chat, .btn-fechar{
    border: 1px solid #f39c12;
}   

.btn-icone-fechar{
    border: none;
    color: white;
}

.btn-icone-fechar:hover{
    color: white;
}

.btn-iniciar-chat:hover, .btn-fechar:hover{
    color: white;
}

.background-aqua{
    background-color: aqua;
}

.mais-populares{
    width: 20%;
    height: auto;
    min-height: 300px;
    overflow: hidden;
    margin-right: 5%;
    background-color: #333333;
    float: left;
}

.card-body-anuncio{
    padding-bottom: 0%;
}

.card-img-anuncio{
    max-height: 400px;
    min-height: 400px;
    height: 400px;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    margin-bottom: 0%;
    border-radius: 3%;
}

.img-modal-anuncio{
    width: 350px;
    height: 100%;
    max-width: 350px;
    max-height: 250px;
}
/* Fim do Corpo */


/* Inicio Footer */
footer{
    color: white; 
    background-color: #333333; 
    padding-top: 5px;
    padding-bottom: 10px;
}

#logo-footer{
    position: relative; 
    top: 50%;
    transform: translateY(-50%);
}

.linha-footer{
    width: 90px; 
    background-color: #f39c12;
}
/* Fim Footer */