*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: antiga;
    src: url(../Utils/fontes/GoboldBlockyItalic.otf);
}
@font-face {
    font-family: montserrat;
    src: url(../Utils/fontes/montserrat/Montserrat/Montserrat-SemiBold.ttf);
}



.menu-cover{	    
    width: 100%;	
    height: 90px;	
    background-color: aqua;	
}

/* Inicio Classes padronização */
.sem-borda{
    border: none;
}

.borda-20px{
    border-radius: 20px;
}

#container{
    width: 90%;
    height: auto;
    min-height: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}   

.texto-laranja{
    color: #a8b7be;
}

.background-333333{
    background-color: #333333;
}

.background-222222{
    background-color: #222222;
}

.cor-erro{
    color: #d44950;
}
/* Fim das classes de padronização */


body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(42,40,37,1) 50%, rgba(0,0,0,1) 100%);
}

/* Início padronização Select */
.caixa-select{
    margin-bottom: 50px;
}

.selects{
    background-color: #222222;
    color: #f39c12;
    border: #f39c12;
}

.selects option{
    border-color: #f39c12;
}
/* Fim padronização Select */


/* Inicio Corpo */

.teste{
    position: relative;
    color: #f39c12;
    width: 134px;
    height: 36px;
    max-width: 134px;
    max-height: 36px;
    line-height: 36px;
    transition: all 0.3s;
    
  border: 1px solid #f39c12;
  border-radius: 5px;

}

.teste:hover{
    color: white;
}

.teste span{
    transition: all 0.3s;
    transform: scale(1, 1);
}
    
.teste::before, .teste::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.teste1::before {
	left: 0px;
	z-index: 1;
    opacity: 0;
    background: rgba(255, 255, 255, 0.1);
    transform: scale(0.1, 1);
}

.teste1:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.teste1::after {
  transition: all 0.3s;
}

.teste1:hover::after {
  transform: scale(1, .1);
  opacity: 0;
}
  


#container-anuncios{
    width: inherit;
    height: auto;
    min-height: 500px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    background-color: #222222;
}

#feed{
    width: 65%;
    height: auto;
    min-height: inherit;
    overflow: hidden; 
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    padding: 30px;
}

.feed-titulo{
    width: 100%;
    /* color: #a8b7be; */
    color: #cccccc;
    margin-bottom: 30px;
    font-family: antiga;
    font-size: 50px;
    border-bottom-width: 1px;
    border-bottom-color: #ed8105;
    border-bottom-style: solid;
}

#mais-populares-titulo{
    width: 100%;
    /* color: #a8b7be; */
    color: #cccccc;
    margin: 30px;
}

.card-body{
    background-image: url('../assets/photo-1569470451072-68314f596aec.jfif');
    background-repeat: no-repeat;
    background-size: cover;
}

.card-anuncio{
    background-color: #222222; 
    /* color: #a8b7be;  */
    color: #cccccc; 
    margin-bottom: 125px;
    box-shadow: 5px 5px 10px 1px rgba(168,183,190,1);
}

.card-anuncio-jogo{
    background-color: #222222; 
    /* color:#a8b7be;  */
    color: #cccccc; 
    margin-bottom: 50px;
}

.icone-usuario{
    width: 70px; 
    height: 70px;
}

.nome-usuario{
    font-size: 30px;
    margin-left: 5%;
}

.genero-anuncio{
    padding: 10px; 
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    background-color: #ed8105; 
    /* color: #a8b7be; */
    color: #cccccc;
}

.link{
    text-decoration: none !important;
    border: none;
    /* color: currentColor; */
}


.btn-leia-mais{
    color: #f39c12;
    background-color: #333333;
    border: 1px solid #f39c12;
}

.btn-iniciar-chat, .btn-fechar{
    border: 1px solid #f39c12;
}   

.btn-icone-fechar{
    border: none;
    color: white;
}

.btn-icone-fechar:hover{
    color: white;
}

.btn-iniciar-chat:hover, .btn-fechar:hover{
    color: white;
}

.background-aqua{
    background-color: aqua;
}

.mais-populares{
    width: 20%;
    height: auto;
    min-height: 300px;
    overflow: hidden;
    margin-right: 5%;
    background-color: #333333;
    float: left;
}

.card-body-anuncio{
    padding-bottom: 0%;
    background-color: transparent;
}

.card-img-anuncio{
    max-height: 400px;
    min-height: 400px;
    height: 400px;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    margin-bottom: 0%;
    border-radius: 3%;
}

.img-modal-anuncio{
    width: 350px;
    height: 100%;
    max-width: 350px;
    max-height: 250px;
}
/* Fim do Corpo */


/* Inicio Footer */
footer{
    color: white; 
    background-color: #333333; 
    padding-top: 5px;
    padding-bottom: 10px;
}

#logo-footer{
    position: relative; 
    top: 50%;
    transform: translateY(-50%);
}

.linha-footer{
    width: 90px; 
    background-color: #f39c12;
}
/* Fim Footer */