*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: antiga;
    src: url(../Utils/fontes/GoboldBlockyItalic.otf);
}

.menu-cover{	    
    width: 100%;	
    height: 95px;	
    background-color: aqua;	
}

/* Inicio Classes padronização */
.sem-borda{
    border: none;
}

.borda-20px{
    border-radius: 20px;
}

#container{
    width: 90%;
    height: auto;
    min-height: 100%;
    overflow: hidden;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}   

.texto-laranja{
    color: #f39c12;
}

.background-333333{
    background-color: #333333;
}

.background-222222{
    background-color: #222222;
}

/* Fim das classes de padronização */


body{
    background-color: #222222;
}

/* Início padronização Select */
.caixa-select{
    margin-bottom: 50px;
}

.selects{
    background-color: #222222;
    color: #f39c12;
    border: #f39c12;
}

.selects option{
    border-color: #f39c12;
}
/* Fim padronização Select */


/* Inicio Corpo */
#container-anuncios{
    width: inherit;
    height: auto;
    min-height: 500px;
    overflow: hidden;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

#feed{
    width: 65%;
    height: auto;
    min-height: inherit;
    overflow: hidden; 
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    background-color: #333333;
    padding: 30px;
}

.feed-titulo{
    width: 100%;
    color: #f39c12;
    margin-bottom: 30px;
    font-family: antiga;
    font-size: 50px;
}

#mais-populares-titulo{
    width: 100%;
    color: white;
    margin: 30px;
}

.card-anuncio{
    background-color: #222222; 
    color: white; 
    margin-bottom: 50px;
}

.icone-usuario{
    width: 70px; 
    height: 70px;
}

.nome-usuario{
    font-size: 30px;
    margin-left: 5%;
}

.genero-anuncio{
    padding: 10px; 
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    background-color: #f39c12; 
    color:black
}

.btn-leia-mais{
    color: #f39c12;
    background-color: #333333;
    border: 1px solid #f39c12;
}

.btn-iniciar-chat, .btn-fechar{
    border: 1px solid #f39c12;
}   

.btn-icone-fechar{
    border: none;
    color: white;
}

.btn-icone-fechar:hover{
    color: white;
}

.btn-iniciar-chat:hover, .btn-fechar:hover{
    color: white;
}

.background-aqua{
    background-color: aqua;
}

.mais-populares{
    width: 20%;
    height: auto;
    min-height: 300px;
    overflow: hidden;
    margin-right: 5%;
    background-color: #333333;
    float: left;
}

.card-body-anuncio{
    padding-bottom: 0%;
}

.card-img-anuncio{
    max-height: 500px;
    min-height: 500px;
    height: 500px;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    margin-bottom: 0%;
    border-radius: 3%;
}
/* Fim do Corpo */


/* Inicio Footer */
footer{
    color: white; 
    background-color: #333333; 
    padding-top: 5px;
    padding-bottom: 10px;
}

#logo-footer{
    position: relative; 
    top: 50%;
    transform: translateY(-50%);
}

.linha-footer{
    width: 90px; 
    background-color: #f39c12;
}
/* Fim Footer */


/* Inicio Slider */
#jssorl-009-spin{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    text-align:center;
    background-color:rgba(0,0,0,0.7);
}

#jssorl-009-spin img{
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top:-19px;
    position:relative;
    top:50%;
    width:38px;
    height:38px;
}

#slides{
    cursor:default;
    position:relative;
    top:0px;
    left:0px;
    width:980px;
    height:380px;
    overflow:hidden;
}

.p{
    width:268px;
    height:68px;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.jssorb111{
    position:absolute;
    bottom:12px;
    right:12px;
}

.jssorb111 .i {
    position:absolute;
    color:#fff;
    font-family:"Helvetica neue",Helvetica,Arial,sans-serif;
    text-align:center;
    cursor:pointer;
    z-index:0;
}

.jssorb111 .i .n {display:none;}

.jssorb111 .i .b {
    fill:#fff;
    stroke:#000;
    stroke-width:500;
    stroke-miterlimit:10;
    stroke-opacity:.5;
}

.jssorb111 .i:hover .b {
    fill:#fea900;
    stroke:#fea900;
    stroke-width:6000;stroke-opacity:1;
}

.jssorb111 .iav .b {
    fill:#000;
    stroke-width:6000;
    stroke-opacity:1;
}

.jssorb111 .i.idn {opacity:.3;}

.jssorb111 .iav .n, .jssorb111 .i:hover .n {display:block;}

.prototype{
    width:24px;
    height:24px;
    font-size:12px;
    line-height:24px;
}

svg{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}

.jssort121{
    position:absolute;
    left:0px;
    top:0px;
    width:268px;
    height:380px;
    overflow:hidden;
    cursor:default;
}

.jssort121 .p {
    position:absolute;
    top:0;
    left:0;
    border-bottom:1px solid rgba(255,255,255,.2);
    box-sizing:border-box;color:#fff;
    background:rgba(0,0,0,.1);opacity:.7;
}

.jssort121 .p .t {
    position:absolute;padding:10px;
    box-sizing:border-box;top:0;
    left:0;width:100%;
    height:100%;
    line-height:24px;
    overflow:hidden;
}

.jssort121 .p .i {
    margin-right:10px;
    position:relative;
    top:0;
    left:0;
    width:96px;
    height:48px;
    border:none;
    float:left;
}

.jssort121 .pav, .jssort121 .p:hover {
    color:#000;
    background:rgba(255,255,255,.7);
}

.jssort121 .p:hover {opacity:.75;}

.jssort121 .pav, .jssort121 .p:hover.pdn {opacity:1;}

.jssort121 .ti {
    position:relative;
    font-size:14px;
    font-weight:bold;
}

.jssort121 .d {
    position:relative;
    font-size:12px;
}

#jssor_1{
    position:relative;
    margin:0 auto;
    top:0px;
    left:0px;
    width:980px;
    height:380px;
    overflow:hidden;
    visibility:hidden;
}


/* Fim Slider */