*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Inicio Classes padronização */
.sem-borda{
    border: none;
}

.borda-20px{
    border-radius: 20px;
}

#container{
    width: 90%;
    height: auto;
    min-height: 100%;
    overflow: hidden;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}   

.titulo-cadastro-anuncio{
    color: white; 
    text-align: center; 
}

.texto-laranja{
    color: #f39c12;
}

.texto-branco{
    color: #ffffff;
}

.background-333333{
    background-color: #333333;
}

.background-222222{
    background-color: #222222;
}

.linha-titulo{
    width: 380px; 
    height: 2px;
    background-color: #f39c12;
}
/* Fim das classes de padronização */


body{
    background-color: #222222;
}


/* Inicio Menu */
header{
    background-color:#333333;
    width: 100%; 
    height: 50px; 
    font-size: 25px;
    color: #f39c12;
    position: fixed;
    z-index: 1;
    box-sizing: border-box;
}

#menu-cover{
    margin-bottom: 100px;
    width: 100%;
    height: 50px;
}

#caixa-logo{
    width: 80%;
    height: inherit;
    float: left;
    color: #f39c12;
}

#caixa_botao{
    width: 20%;
    height: inherit;
    float: left;
}

.botoes-header{
    background-color: #f39c12;
}
/* Fim do Menu */


/* Inicio Corpo */
.card-usuario{
    margin-bottom: 100px;    
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px;
    clear: both;
}

.header1, .header2{
    height: 50px;
    width: 200px;
    color: white;
    font-size: 25px;
    margin-top: 80px;
    margin-left: 25px;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid black;
    float: left;
    text-align: center;
}

.header1{    
    background-color: dimgray;
}

.header2{
    margin-left: 0px;
    background-color: #f39c12;
}

.header1:hover, .header2:hover{
    cursor: pointer;
}

.icone-tab1{
    width: 100px;
    height: 100px;
}

.icone-tab2{
    margin-top: 10px;
    width: 80px;
    height: 80px;
}

.tab1, .tab2, .tab3{
    border-bottom: 100px solid black;
    border-width: 1px;
}

.tab1{
    border-radius: 20px 0px 0px 0px;
}

.tab2{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.tab3{
    border-radius: 0px 20px 0px 0px;
}

.tab1:hover, .tab2:hover, .tab3:hover{
    cursor: pointer;
}

.btn-leia-mais{
    color: #f39c12;
    background-color: #333333;
    border: 1px solid #f39c12;
}

.btn-leia-mais:hover{
    color: #f39c12;
}

.btn-iniciar-chat, .btn-fechar{
    border: 1px solid #f39c12;
}   

.btn-icone-fechar{
    border: none;
    color: white;
}

.btn-icone-fechar:hover{
    color: white;
}

.btn-iniciar-chat:hover, .btn-fechar:hover{
    color: #f39c12;
}
/* Fim do Corpo */


/* Inicio Footer */
footer{
    color: white; 
    background-color: #333333; 
    padding-top: 5px;
    padding-bottom: 10px;
}

#logo-footer{
    position: relative; 
    top: 50%;
    transform: translateY(-50%);
}

.linha-footer{
    width: 90px; 
    background-color: #f39c12;
}
/* Fim Footer */