<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
        <ion-icon src="../../assets/icon/game-controller-b.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="pesquisar-jogos">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="selecao-tipo-anuncio">
      <ion-icon name="add-circle"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="notificacoes">
      <ion-icon name="notifications"></ion-icon>
      <ion-badge name="notifications">11</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="usuario">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
