
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<ion-content>
      <ion-slides [options]="slideOpts"  name="slides">
        <ion-slide>
          <div  class="slide-inner ion-padding">
            <form [formGroup]="formFazerLogin" (ngSubmit)="login()">
                <!-- <ion-label class="label">Email:</ion-label>
              <ion-item class="ion-margin-top" lines="none">
                <ion-input formControlName="email"  name="email" type="email" placeholder="EX: exemplo@gmail.com"   ></ion-input>
              </ion-item>
              
              <ion-label class="label">Senha:</ion-label>
              <ion-item class="ion-margin-top" lines="none">
                <ion-input  formControlName="senha" name="senha" type="password" placeholder="EX: mdklas2389/11" ></ion-input>
              </ion-item>
       -->

              <ion-item style="--background: none;" lines="none">
                  <ion-label class="label_teste" position="floating">Email:</ion-label>
                <ion-input  formControlName="email"  name="email" type="email"   ></ion-input>
              </ion-item>
             
              <ion-item style="--background: none;" lines="none">
                  <ion-label class="label_teste" position="floating">Senha:</ion-label>
                <ion-input  formControlName="senha" name="senha" type="password" ></ion-input>
              </ion-item>
              <ion-button class="ion-margin-top" type="submit"   [disabled]="!formFazerLogin.valid"  expand="block">
                ENTRAR
              </ion-button>
            </form>
          </div>
        </ion-slide>
    
        <ion-slide>
            <div class="slide-inner ion-padding">
              <form [formGroup]="formCriarUsuario" (ngSubmit)="criarUsuario()" >     
                  <ion-label class="label">Nome:</ion-label>
                    <ion-item class="ion-margin-top" lines="none">
                      <ion-input formControlName="nome"  name="nome" type="text" placeholder="EX: João Souza" ></ion-input>
                    </ion-item>
        
                    <ion-label class="label">Cep:</ion-label>
                    <ion-item class="ion-margin-top" lines="none">
                      <ion-input formControlName="cep"  name="cep" type="text" placeholder="EX: 00000-000"  mask="00000-000" ></ion-input>
                    </ion-item>
            
                    <ion-label class="label">Email:</ion-label>
                    <ion-item class="ion-margin-top" lines="none">
                      <ion-input formControlName="email"  name="email" type="email" placeholder="EX: joãoSouza@gmail.com  "  ></ion-input>
                    </ion-item>
                    
                    <ion-label class="label">Senha:</ion-label>
                    <ion-item class="ion-margin-top" lines="none">
                      <ion-input formControlName="senha" name="senha" type="password" placeholder="EX: sdklshad12897" ></ion-input>
                    </ion-item>
            
                    <ion-button type="submit" class="ion-margin-top btn " [disabled]="!formCriarUsuario.valid" expand="block">
                      CRIAR CONTA
                    </ion-button>
              </form>    
            </div>
        </ion-slide>
      </ion-slides>
      <div class="container top">
          <ion-segment class="config-segment" class="teste"  (ionChange)="segmentChanged($event)" value="javascript">
              <ion-segment-button    value="login">
                <ion-label class="config-label">Login</ion-label>
              </ion-segment-button>
              <ion-segment-button value="cadastro">
                <ion-label class="config-label">Cadastro</ion-label>
              </ion-segment-button>
            </ion-segment>        
      </div>
</ion-content>


