<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<ion-header>
    <ion-toolbar>
        <ion-item>
            <ion-avatar  class="a" (click)="closeModal()" slot="start">
                <ion-icon  style="position: absolute; margin-left: -4%; color: #f39c12; margin-top: 2%;" name="arrow-back"></ion-icon>
              <img src="../../assets/boss.png" >

            </ion-avatar>

            <ion-label>
              <h2>Han</h2>
              <p>Online</p>
            </ion-label>
          </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <div id="caixa_de_envio">
          <ion-input  autofocus="true" padding-start type="text" placeholder="Digite">
   
         </ion-input>
      </div>
      <div id="botao_de_envio">
          <ion-fab>
              <ion-fab-button>
                <ion-icon name="send"></ion-icon>
              </ion-fab-button>
          </ion-fab>
      </div>
    </ion-toolbar>
  </ion-footer> 
  